---
layout: default
---

<ul class="blog-list">
  {% for post in paginator.posts %}
  <li class="blog">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></p>
    <div class="excerpt">{{ post.excerpt }}</div>
  </li>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous btn">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next btn">Next</a>
    {% endif %}
    <div class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
  </div>
</ul>
