/*! ace.css | https://github.com/basscss/ace | MIT License */
/* Basscss Basic */
* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #111;
  background-color: #fff; }

img {
  max-width: 100%;
  height: auto; }

svg {
  max-height: 100%; }

a {
  color: #07c; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em; }

code,
pre,
samp {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace; }

code, samp {
  font-size: 87.5%;
  padding: .125em; }

pre {
  font-size: 87.5%;
  overflow: scroll; }

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0; }

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc; }

/* Basscss Forms */
.label {
  font-size: .875rem;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem; }

.input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; }

.select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; }

.textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; }

/* Basscss Input Range */
.input-range {
  vertical-align: middle;
  background-color: transparent;
  padding-top: var(--form-field-padding-y);
  padding-bottom: var(--form-field-padding-y);
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none; }

.input-range::-webkit-slider-thumb {
  position: relative;
  width: var(--range-thumb-width);
  height: var(--range-thumb-height);
  cursor: pointer;
  margin-top: var(--range-thumb-offset);
  border-radius: var(--border-radius);
  background-color: currentcolor;
  -webkit-appearance: none; }

/* Touch screen friendly pseudo element */
.input-range::-webkit-slider-thumb:before {
  content: '';
  display: block;
  position: absolute;
  top: calc( -.5 * var(--range-thumb-pseudo-size) + (.5 * var(--range-thumb-height)) );
  left: calc( (-.5 * var(--range-thumb-pseudo-size)) + (.5 * var(--range-thumb-width)) );
  width: var(--range-thumb-pseudo-size);
  height: var(--range-thumb-pseudo-size);
  opacity: 0; }

.input-range::-moz-range-thumb {
  width: var(--range-thumb-width);
  height: var(--range-thumb-height);
  cursor: pointer;
  border-radius: var(--border-radius);
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor; }

.input-range::-webkit-slider-runnable-track {
  height: var(--range-track-height);
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--darken-3); }

.input-range::-moz-range-track {
  height: var(--range-track-height);
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--darken-3); }

.input-range:focus {
  outline: none; }

:root {
  --form-field-padding-x: .5rem;
  --form-field-padding-y: .5rem;
  --form-field-height: 2.25rem;
  --border-radius: 3px;
  --darken-3: rgba(0, 0, 0, .25);
  --range-thumb-width: var(--form-field-padding-x);
  --range-thumb-height: calc( var(--form-field-height) - (var(--form-field-padding-y) * 2) );
  --range-track-height: calc( var(--form-field-padding-y) / 2 );
  --range-thumb-offset: calc( var(--range-thumb-height) / -2 + (var(--range-track-height) / 2) );
  --range-thumb-pseudo-size: var(--form-field-height); }

/* Basscss Progress */
.progress {
  display: block;
  width: 100%;
  height: calc( var(--form-field-height) / 4 );
  margin: var(--form-field-padding-y) 0;
  overflow: hidden;
  background-color: var(--darken-2);
  border: 0;
  border-radius: 10000px;
  -webkit-appearance: none; }

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: var(--darken-2); }

.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: currentcolor; }

.progress::-moz-progress-bar {
  background-color: currentcolor; }

:root {
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --darken-2: rgba(0, 0, 0, .125); }

/* Basscss Btn */
.btn {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  height: auto;
  border: var(--border-width) solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent; }

.btn:hover {
  text-decoration: none; }

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3); }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

:root {
  --border-width: 1px;
  --bold-font-weight: bold;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25); }

/* Basscss Btn Sizes */
.btn-small {
  padding: var(--button-small-padding-y) var(--button-small-padding-x); }

.btn-big {
  padding: var(--button-big-padding-y) var(--button-big-padding-x); }

.btn-narrow {
  padding-left: var(--button-narrow-padding-x);
  padding-right: var(--button-narrow-padding-x); }

:root {
  --button-small-padding-y: .25rem;
  --button-small-padding-x: .5rem;
  --button-big-padding-y: 1rem;
  --button-big-padding-x: 1.25rem;
  --button-narrow-padding-x: .5rem; }

/* Basscss Btn Primary */
.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--border-radius); }

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1); }

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2), inset 0 3px 4px 0 var(--darken-3), 0 0 1px var(--darken-2); }

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5; }

:root {
  --blue: #0074d9;
  --button-color: #fff;
  --button-background-color: var(--blue);
  --border-radius: 3px;
  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25); }

/* Basscss Btn Outline */
.btn-outline,
.btn-outline:hover {
  border-color: currentcolor; }

.btn-outline {
  border-radius: var(--border-radius); }

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1); }

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2), inset 0 3px 4px 0 var(--darken-3), 0 0 1px var(--darken-2); }

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5; }

:root {
  --border-radius: 3px;
  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25); }

/* Basscss Media Object */
.media,
.sm-media,
.md-media,
.lg-media {
  margin-left: -var(--media-object-space);
  margin-right: -var(--media-object-space); }

.media {
  display: flex; }

.media-center {
  align-items: center; }

.media-bottom {
  align-items: flex-end; }

.media-img,
.media-body {
  padding-left: var(--media-object-space);
  padding-right: var(--media-object-space); }

.media-body {
  flex: 1 1 auto; }

@media (--breakpoint-sm) {
  .sm-media {
    display: flex; } }
@media (--breakpoint-md) {
  .md-media {
    display: flex; } }
@media (--breakpoint-lg) {
  .lg-media {
    display: flex; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
:root {
  --space-1: .5rem;
  --media-object-space: var(--space-1); }

/*! Basscss | http://basscss.com | MIT License */
/* Basscss Type Scale */
.h1 {
  font-size: var(--h1); }

.h2 {
  font-size: var(--h2); }

.h3 {
  font-size: var(--h3); }

.h4 {
  font-size: var(--h4); }

.h5 {
  font-size: var(--h5); }

.h6 {
  font-size: var(--h6); }

:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem; }

/* Basscss Typography */
.font-family-inherit {
  font-family: inherit; }

.font-size-inherit {
  font-size: inherit; }

.text-decoration-none {
  text-decoration: none; }

.bold {
  font-weight: var(--bold-font-weight, bold); }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: var(--caps-letter-spacing); }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.line-height-1 {
  line-height: var(--line-height-1); }

.line-height-2 {
  line-height: var(--line-height-2); }

.line-height-3 {
  line-height: var(--line-height-3); }

.line-height-4 {
  line-height: var(--line-height-4); }

.list-style-none {
  list-style: none; }

.underline {
  text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

:root {
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 1;
  --caps-letter-spacing: .2em;
  --bold-font-weight: bold; }

/* Basscss Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.max-width-1 {
  max-width: var(--width-1); }

.max-width-2 {
  max-width: var(--width-2); }

.max-width-3 {
  max-width: var(--width-3); }

.max-width-4 {
  max-width: var(--width-4); }

.border-box {
  box-sizing: border-box; }

:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem; }

/* Basscss Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

/* Basscss Margin */
.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mx0 {
  margin-left: 0;
  margin-right: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.m1 {
  margin: var(--space-1); }

.mt1 {
  margin-top: var(--space-1); }

.mr1 {
  margin-right: var(--space-1); }

.mb1 {
  margin-bottom: var(--space-1); }

.ml1 {
  margin-left: var(--space-1); }

.mx1 {
  margin-left: var(--space-1);
  margin-right: var(--space-1); }

.my1 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1); }

.m2 {
  margin: var(--space-2); }

.mt2 {
  margin-top: var(--space-2); }

.mr2 {
  margin-right: var(--space-2); }

.mb2 {
  margin-bottom: var(--space-2); }

.ml2 {
  margin-left: var(--space-2); }

.mx2 {
  margin-left: var(--space-2);
  margin-right: var(--space-2); }

.my2 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2); }

.m3 {
  margin: var(--space-3); }

.mt3 {
  margin-top: var(--space-3); }

.mr3 {
  margin-right: var(--space-3); }

.mb3 {
  margin-bottom: var(--space-3); }

.ml3 {
  margin-left: var(--space-3); }

.mx3 {
  margin-left: var(--space-3);
  margin-right: var(--space-3); }

.my3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3); }

.m4 {
  margin: var(--space-4); }

.mt4 {
  margin-top: var(--space-4); }

.mr4 {
  margin-right: var(--space-4); }

.mb4 {
  margin-bottom: var(--space-4); }

.ml4 {
  margin-left: var(--space-4); }

.mx4 {
  margin-left: var(--space-4);
  margin-right: var(--space-4); }

.my4 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4); }

.mxn1 {
  margin-left: -var(--space-1);
  margin-right: -var(--space-1); }

.mxn2 {
  margin-left: -var(--space-2);
  margin-right: -var(--space-2); }

.mxn3 {
  margin-left: -var(--space-3);
  margin-right: -var(--space-3); }

.mxn4 {
  margin-left: -var(--space-4);
  margin-right: -var(--space-4); }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem; }

/* Basscss Padding */
.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.px0 {
  padding-left: 0;
  padding-right: 0; }

.py0 {
  padding-top: 0;
  padding-bottom: 0; }

.p1 {
  padding: var(--space-1); }

.pt1 {
  padding-top: var(--space-1); }

.pr1 {
  padding-right: var(--space-1); }

.pb1 {
  padding-bottom: var(--space-1); }

.pl1 {
  padding-left: var(--space-1); }

.py1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1); }

.px1 {
  padding-left: var(--space-1);
  padding-right: var(--space-1); }

.p2 {
  padding: var(--space-2); }

.pt2 {
  padding-top: var(--space-2); }

.pr2 {
  padding-right: var(--space-2); }

.pb2 {
  padding-bottom: var(--space-2); }

.pl2 {
  padding-left: var(--space-2); }

.py2 {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2); }

.px2 {
  padding-left: var(--space-2);
  padding-right: var(--space-2); }

.p3 {
  padding: var(--space-3); }

.pt3 {
  padding-top: var(--space-3); }

.pr3 {
  padding-right: var(--space-3); }

.pb3 {
  padding-bottom: var(--space-3); }

.pl3 {
  padding-left: var(--space-3); }

.py3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3); }

.px3 {
  padding-left: var(--space-3);
  padding-right: var(--space-3); }

.p4 {
  padding: var(--space-4); }

.pt4 {
  padding-top: var(--space-4); }

.pr4 {
  padding-right: var(--space-4); }

.pb4 {
  padding-bottom: var(--space-4); }

.pl4 {
  padding-left: var(--space-4); }

.py4 {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4); }

.px4 {
  padding-left: var(--space-4);
  padding-right: var(--space-4); }

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem; }

/* Basscss Grid */
.col {
  float: left;
  box-sizing: border-box; }

.col-right {
  float: right;
  box-sizing: border-box; }

.col-1 {
  width: calc(1/12 * 100%); }

.col-2 {
  width: calc(2/12 * 100%); }

.col-3 {
  width: calc(3/12 * 100%); }

.col-4 {
  width: calc(4/12 * 100%); }

.col-5 {
  width: calc(5/12 * 100%); }

.col-6 {
  width: calc(6/12 * 100%); }

.col-7 {
  width: calc(7/12 * 100%); }

.col-8 {
  width: calc(8/12 * 100%); }

.col-9 {
  width: calc(9/12 * 100%); }

.col-10 {
  width: calc(10/12 * 100%); }

.col-11 {
  width: calc(11/12 * 100%); }

.col-12 {
  width: 100%; }

@media (--breakpoint-sm) {
  .sm-col {
    float: left;
    box-sizing: border-box; }

  .sm-col-right {
    float: right;
    box-sizing: border-box; }

  .sm-col-1 {
    width: calc(1/12 * 100%); }

  .sm-col-2 {
    width: calc(2/12 * 100%); }

  .sm-col-3 {
    width: calc(3/12 * 100%); }

  .sm-col-4 {
    width: calc(4/12 * 100%); }

  .sm-col-5 {
    width: calc(5/12 * 100%); }

  .sm-col-6 {
    width: calc(6/12 * 100%); }

  .sm-col-7 {
    width: calc(7/12 * 100%); }

  .sm-col-8 {
    width: calc(8/12 * 100%); }

  .sm-col-9 {
    width: calc(9/12 * 100%); }

  .sm-col-10 {
    width: calc(10/12 * 100%); }

  .sm-col-11 {
    width: calc(11/12 * 100%); }

  .sm-col-12 {
    width: 100%; } }
@media (--breakpoint-md) {
  .md-col {
    float: left;
    box-sizing: border-box; }

  .md-col-right {
    float: right;
    box-sizing: border-box; }

  .md-col-1 {
    width: calc(1/12 * 100%); }

  .md-col-2 {
    width: calc(2/12 * 100%); }

  .md-col-3 {
    width: calc(3/12 * 100%); }

  .md-col-4 {
    width: calc(4/12 * 100%); }

  .md-col-5 {
    width: calc(5/12 * 100%); }

  .md-col-6 {
    width: calc(6/12 * 100%); }

  .md-col-7 {
    width: calc(7/12 * 100%); }

  .md-col-8 {
    width: calc(8/12 * 100%); }

  .md-col-9 {
    width: calc(9/12 * 100%); }

  .md-col-10 {
    width: calc(10/12 * 100%); }

  .md-col-11 {
    width: calc(11/12 * 100%); }

  .md-col-12 {
    width: 100%; } }
@media (--breakpoint-lg) {
  .lg-col {
    float: left;
    box-sizing: border-box; }

  .lg-col-right {
    float: right;
    box-sizing: border-box; }

  .lg-col-1 {
    width: calc(1/12 * 100%); }

  .lg-col-2 {
    width: calc(2/12 * 100%); }

  .lg-col-3 {
    width: calc(3/12 * 100%); }

  .lg-col-4 {
    width: calc(4/12 * 100%); }

  .lg-col-5 {
    width: calc(5/12 * 100%); }

  .lg-col-6 {
    width: calc(6/12 * 100%); }

  .lg-col-7 {
    width: calc(7/12 * 100%); }

  .lg-col-8 {
    width: calc(8/12 * 100%); }

  .lg-col-9 {
    width: calc(9/12 * 100%); }

  .lg-col-10 {
    width: calc(10/12 * 100%); }

  .lg-col-11 {
    width: calc(11/12 * 100%); }

  .lg-col-12 {
    width: 100%; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
.flex {
  display: flex; }

@media (--breakpoint-sm) {
  .sm-flex {
    display: flex; } }
@media (--breakpoint-md) {
  .md-flex {
    display: flex; } }
@media (--breakpoint-lg) {
  .lg-flex {
    display: flex; } }
.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.content-stretch {
  align-content: stretch; }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  flex: none; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-last {
  order: 99999; }

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
/* Basscss Position */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: var(--z1); }

.z2 {
  z-index: var(--z2); }

.z3 {
  z-index: var(--z3); }

.z4 {
  z-index: var(--z4); }

:root {
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4; }

/* Basscss Border */
.border {
  border-style: solid;
  border-width: var(--border-width); }

.border-top {
  border-top-style: solid;
  border-top-width: var(--border-width); }

.border-right {
  border-right-style: solid;
  border-right-width: var(--border-width); }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: var(--border-width); }

.border-left {
  border-left-style: solid;
  border-left-width: var(--border-width); }

.border-none {
  border: 0; }

.rounded {
  border-radius: var(--border-radius); }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: var(--border-radius) var(--border-radius) 0 0; }

.rounded-right {
  border-radius: 0 var(--border-radius) var(--border-radius) 0; }

.rounded-bottom {
  border-radius: 0 0 var(--border-radius) var(--border-radius); }

.rounded-left {
  border-radius: var(--border-radius) 0 0 var(--border-radius); }

.not-rounded {
  border-radius: 0; }

:root {
  --border-width: 1px;
  --border-radius: 3px; }

/* Basscss Hide */
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@media (--breakpoint-xs) {
  .xs-hide {
    display: none !important; } }
@media (--breakpoint-sm-md) {
  .sm-hide {
    display: none !important; } }
@media (--breakpoint-md-lg) {
  .md-hide {
    display: none !important; } }
@media (--breakpoint-lg) {
  .lg-hide {
    display: none !important; } }
.display-none {
  display: none !important; }

@custom-media --breakpoint-xs (max-width: 40em);
@custom-media --breakpoint-sm-md (min-width: 40em) and (max-width: 52em);
@custom-media --breakpoint-md-lg (min-width: 52em) and (max-width: 64em);
@custom-media --breakpoint-lg (min-width: 64em);
/* Basscss Responsive Margin */
@media (--breakpoint-sm) {
  .sm-m0 {
    margin: 0; }

  .sm-mt0 {
    margin-top: 0; }

  .sm-mr0 {
    margin-right: 0; }

  .sm-mb0 {
    margin-bottom: 0; }

  .sm-ml0 {
    margin-left: 0; }

  .sm-mx0 {
    margin-left: 0;
    margin-right: 0; }

  .sm-my0 {
    margin-top: 0;
    margin-bottom: 0; }

  .sm-m1 {
    margin: var(--space-1); }

  .sm-mt1 {
    margin-top: var(--space-1); }

  .sm-mr1 {
    margin-right: var(--space-1); }

  .sm-mb1 {
    margin-bottom: var(--space-1); }

  .sm-ml1 {
    margin-left: var(--space-1); }

  .sm-mx1 {
    margin-left: var(--space-1);
    margin-right: var(--space-1); }

  .sm-my1 {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1); }

  .sm-m2 {
    margin: var(--space-2); }

  .sm-mt2 {
    margin-top: var(--space-2); }

  .sm-mr2 {
    margin-right: var(--space-2); }

  .sm-mb2 {
    margin-bottom: var(--space-2); }

  .sm-ml2 {
    margin-left: var(--space-2); }

  .sm-mx2 {
    margin-left: var(--space-2);
    margin-right: var(--space-2); }

  .sm-my2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2); }

  .sm-m3 {
    margin: var(--space-3); }

  .sm-mt3 {
    margin-top: var(--space-3); }

  .sm-mr3 {
    margin-right: var(--space-3); }

  .sm-mb3 {
    margin-bottom: var(--space-3); }

  .sm-ml3 {
    margin-left: var(--space-3); }

  .sm-mx3 {
    margin-left: var(--space-3);
    margin-right: var(--space-3); }

  .sm-my3 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-3); }

  .sm-m4 {
    margin: var(--space-4); }

  .sm-mt4 {
    margin-top: var(--space-4); }

  .sm-mr4 {
    margin-right: var(--space-4); }

  .sm-mb4 {
    margin-bottom: var(--space-4); }

  .sm-ml4 {
    margin-left: var(--space-4); }

  .sm-mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4); }

  .sm-my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4); }

  .sm-mxn1 {
    margin-left: -var(--space-1);
    margin-right: -var(--space-1); }

  .sm-mxn2 {
    margin-left: -var(--space-2);
    margin-right: -var(--space-2); }

  .sm-mxn3 {
    margin-left: -var(--space-3);
    margin-right: -var(--space-3); }

  .sm-mxn4 {
    margin-left: -var(--space-4);
    margin-right: -var(--space-4); }

  .sm-ml-auto {
    margin-left: auto; }

  .sm-mr-auto {
    margin-right: auto; }

  .sm-mx-auto {
    margin-left: auto;
    margin-right: auto; } }
@media (--breakpoint-md) {
  .md-m0 {
    margin: 0; }

  .md-mt0 {
    margin-top: 0; }

  .md-mr0 {
    margin-right: 0; }

  .md-mb0 {
    margin-bottom: 0; }

  .md-ml0 {
    margin-left: 0; }

  .md-mx0 {
    margin-left: 0;
    margin-right: 0; }

  .md-my0 {
    margin-top: 0;
    margin-bottom: 0; }

  .md-m1 {
    margin: var(--space-1); }

  .md-mt1 {
    margin-top: var(--space-1); }

  .md-mr1 {
    margin-right: var(--space-1); }

  .md-mb1 {
    margin-bottom: var(--space-1); }

  .md-ml1 {
    margin-left: var(--space-1); }

  .md-mx1 {
    margin-left: var(--space-1);
    margin-right: var(--space-1); }

  .md-my1 {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1); }

  .md-m2 {
    margin: var(--space-2); }

  .md-mt2 {
    margin-top: var(--space-2); }

  .md-mr2 {
    margin-right: var(--space-2); }

  .md-mb2 {
    margin-bottom: var(--space-2); }

  .md-ml2 {
    margin-left: var(--space-2); }

  .md-mx2 {
    margin-left: var(--space-2);
    margin-right: var(--space-2); }

  .md-my2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2); }

  .md-m3 {
    margin: var(--space-3); }

  .md-mt3 {
    margin-top: var(--space-3); }

  .md-mr3 {
    margin-right: var(--space-3); }

  .md-mb3 {
    margin-bottom: var(--space-3); }

  .md-ml3 {
    margin-left: var(--space-3); }

  .md-mx3 {
    margin-left: var(--space-3);
    margin-right: var(--space-3); }

  .md-my3 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-3); }

  .md-m4 {
    margin: var(--space-4); }

  .md-mt4 {
    margin-top: var(--space-4); }

  .md-mr4 {
    margin-right: var(--space-4); }

  .md-mb4 {
    margin-bottom: var(--space-4); }

  .md-ml4 {
    margin-left: var(--space-4); }

  .md-mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4); }

  .md-my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4); }

  .md-mxn1 {
    margin-left: -var(--space-1);
    margin-right: -var(--space-1); }

  .md-mxn2 {
    margin-left: -var(--space-2);
    margin-right: -var(--space-2); }

  .md-mxn3 {
    margin-left: -var(--space-3);
    margin-right: -var(--space-3); }

  .md-mxn4 {
    margin-left: -var(--space-4);
    margin-right: -var(--space-4); }

  .md-ml-auto {
    margin-left: auto; }

  .md-mr-auto {
    margin-right: auto; }

  .md-mx-auto {
    margin-left: auto;
    margin-right: auto; } }
@media (--breakpoint-lg) {
  .lg-m0 {
    margin: 0; }

  .lg-mt0 {
    margin-top: 0; }

  .lg-mr0 {
    margin-right: 0; }

  .lg-mb0 {
    margin-bottom: 0; }

  .lg-ml0 {
    margin-left: 0; }

  .lg-mx0 {
    margin-left: 0;
    margin-right: 0; }

  .lg-my0 {
    margin-top: 0;
    margin-bottom: 0; }

  .lg-m1 {
    margin: var(--space-1); }

  .lg-mt1 {
    margin-top: var(--space-1); }

  .lg-mr1 {
    margin-right: var(--space-1); }

  .lg-mb1 {
    margin-bottom: var(--space-1); }

  .lg-ml1 {
    margin-left: var(--space-1); }

  .lg-mx1 {
    margin-left: var(--space-1);
    margin-right: var(--space-1); }

  .lg-my1 {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1); }

  .lg-m2 {
    margin: var(--space-2); }

  .lg-mt2 {
    margin-top: var(--space-2); }

  .lg-mr2 {
    margin-right: var(--space-2); }

  .lg-mb2 {
    margin-bottom: var(--space-2); }

  .lg-ml2 {
    margin-left: var(--space-2); }

  .lg-mx2 {
    margin-left: var(--space-2);
    margin-right: var(--space-2); }

  .lg-my2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2); }

  .lg-m3 {
    margin: var(--space-3); }

  .lg-mt3 {
    margin-top: var(--space-3); }

  .lg-mr3 {
    margin-right: var(--space-3); }

  .lg-mb3 {
    margin-bottom: var(--space-3); }

  .lg-ml3 {
    margin-left: var(--space-3); }

  .lg-mx3 {
    margin-left: var(--space-3);
    margin-right: var(--space-3); }

  .lg-my3 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-3); }

  .lg-m4 {
    margin: var(--space-4); }

  .lg-mt4 {
    margin-top: var(--space-4); }

  .lg-mr4 {
    margin-right: var(--space-4); }

  .lg-mb4 {
    margin-bottom: var(--space-4); }

  .lg-ml4 {
    margin-left: var(--space-4); }

  .lg-mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4); }

  .lg-my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4); }

  .lg-mxn1 {
    margin-left: -var(--space-1);
    margin-right: -var(--space-1); }

  .lg-mxn2 {
    margin-left: -var(--space-2);
    margin-right: -var(--space-2); }

  .lg-mxn3 {
    margin-left: -var(--space-3);
    margin-right: -var(--space-3); }

  .lg-mxn4 {
    margin-left: -var(--space-4);
    margin-right: -var(--space-4); }

  .lg-ml-auto {
    margin-left: auto; }

  .lg-mr-auto {
    margin-right: auto; }

  .lg-mx-auto {
    margin-left: auto;
    margin-right: auto; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem; }

/* Basscss Responsive Padding */
@media (--breakpoint-sm) {
  .sm-p0 {
    padding: 0; }

  .sm-pt0 {
    padding-top: 0; }

  .sm-pr0 {
    padding-right: 0; }

  .sm-pb0 {
    padding-bottom: 0; }

  .sm-pl0 {
    padding-left: 0; }

  .sm-px0 {
    padding-left: 0;
    padding-right: 0; }

  .sm-py0 {
    padding-top: 0;
    padding-bottom: 0; }

  .sm-p1 {
    padding: var(--space-1); }

  .sm-pt1 {
    padding-top: var(--space-1); }

  .sm-pr1 {
    padding-right: var(--space-1); }

  .sm-pb1 {
    padding-bottom: var(--space-1); }

  .sm-pl1 {
    padding-left: var(--space-1); }

  .sm-px1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1); }

  .sm-py1 {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1); }

  .sm-p2 {
    padding: var(--space-2); }

  .sm-pt2 {
    padding-top: var(--space-2); }

  .sm-pr2 {
    padding-right: var(--space-2); }

  .sm-pb2 {
    padding-bottom: var(--space-2); }

  .sm-pl2 {
    padding-left: var(--space-2); }

  .sm-px2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2); }

  .sm-py2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2); }

  .sm-p3 {
    padding: var(--space-3); }

  .sm-pt3 {
    padding-top: var(--space-3); }

  .sm-pr3 {
    padding-right: var(--space-3); }

  .sm-pb3 {
    padding-bottom: var(--space-3); }

  .sm-pl3 {
    padding-left: var(--space-3); }

  .sm-px3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3); }

  .sm-py3 {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3); }

  .sm-p4 {
    padding: var(--space-4); }

  .sm-pt4 {
    padding-top: var(--space-4); }

  .sm-pr4 {
    padding-right: var(--space-4); }

  .sm-pb4 {
    padding-bottom: var(--space-4); }

  .sm-pl4 {
    padding-left: var(--space-4); }

  .sm-px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4); }

  .sm-py4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4); } }
@media (--breakpoint-md) {
  .md-p0 {
    padding: 0; }

  .md-pt0 {
    padding-top: 0; }

  .md-pr0 {
    padding-right: 0; }

  .md-pb0 {
    padding-bottom: 0; }

  .md-pl0 {
    padding-left: 0; }

  .md-px0 {
    padding-left: 0;
    padding-right: 0; }

  .md-py0 {
    padding-top: 0;
    padding-bottom: 0; }

  .md-p1 {
    padding: var(--space-1); }

  .md-pt1 {
    padding-top: var(--space-1); }

  .md-pr1 {
    padding-right: var(--space-1); }

  .md-pb1 {
    padding-bottom: var(--space-1); }

  .md-pl1 {
    padding-left: var(--space-1); }

  .md-px1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1); }

  .md-py1 {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1); }

  .md-p2 {
    padding: var(--space-2); }

  .md-pt2 {
    padding-top: var(--space-2); }

  .md-pr2 {
    padding-right: var(--space-2); }

  .md-pb2 {
    padding-bottom: var(--space-2); }

  .md-pl2 {
    padding-left: var(--space-2); }

  .md-px2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2); }

  .md-py2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2); }

  .md-p3 {
    padding: var(--space-3); }

  .md-pt3 {
    padding-top: var(--space-3); }

  .md-pr3 {
    padding-right: var(--space-3); }

  .md-pb3 {
    padding-bottom: var(--space-3); }

  .md-pl3 {
    padding-left: var(--space-3); }

  .md-px3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3); }

  .md-py3 {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3); }

  .md-p4 {
    padding: var(--space-4); }

  .md-pt4 {
    padding-top: var(--space-4); }

  .md-pr4 {
    padding-right: var(--space-4); }

  .md-pb4 {
    padding-bottom: var(--space-4); }

  .md-pl4 {
    padding-left: var(--space-4); }

  .md-px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4); }

  .md-py4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4); } }
@media (--breakpoint-lg) {
  .lg-p0 {
    padding: 0; }

  .lg-pt0 {
    padding-top: 0; }

  .lg-pr0 {
    padding-right: 0; }

  .lg-pb0 {
    padding-bottom: 0; }

  .lg-pl0 {
    padding-left: 0; }

  .lg-px0 {
    padding-left: 0;
    padding-right: 0; }

  .lg-py0 {
    padding-top: 0;
    padding-bottom: 0; }

  .lg-p1 {
    padding: var(--space-1); }

  .lg-pt1 {
    padding-top: var(--space-1); }

  .lg-pr1 {
    padding-right: var(--space-1); }

  .lg-pb1 {
    padding-bottom: var(--space-1); }

  .lg-pl1 {
    padding-left: var(--space-1); }

  .lg-px1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1); }

  .lg-py1 {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1); }

  .lg-p2 {
    padding: var(--space-2); }

  .lg-pt2 {
    padding-top: var(--space-2); }

  .lg-pr2 {
    padding-right: var(--space-2); }

  .lg-pb2 {
    padding-bottom: var(--space-2); }

  .lg-pl2 {
    padding-left: var(--space-2); }

  .lg-px2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2); }

  .lg-py2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2); }

  .lg-p3 {
    padding: var(--space-3); }

  .lg-pt3 {
    padding-top: var(--space-3); }

  .lg-pr3 {
    padding-right: var(--space-3); }

  .lg-pb3 {
    padding-bottom: var(--space-3); }

  .lg-pl3 {
    padding-left: var(--space-3); }

  .lg-px3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3); }

  .lg-py3 {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3); }

  .lg-p4 {
    padding: var(--space-4); }

  .lg-pt4 {
    padding-top: var(--space-4); }

  .lg-pr4 {
    padding-right: var(--space-4); }

  .lg-pb4 {
    padding-bottom: var(--space-4); }

  .lg-pl4 {
    padding-left: var(--space-4); }

  .lg-px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4); }

  .lg-py4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4); } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem; }

/* Basscss Responsive Layout */
@media (--breakpoint-sm) {
  .sm-inline {
    display: inline; }

  .sm-block {
    display: block; }

  .sm-inline-block {
    display: inline-block; }

  .sm-table {
    display: table; }

  .sm-table-cell {
    display: table-cell; }

  .sm-overflow-hidden {
    overflow: hidden; }

  .sm-overflow-scroll {
    overflow: scroll; }

  .sm-overflow-auto {
    overflow: auto; }

  .sm-left {
    float: left; }

  .sm-right {
    float: right; } }
@media (--breakpoint-md) {
  .md-inline {
    display: inline; }

  .md-block {
    display: block; }

  .md-inline-block {
    display: inline-block; }

  .md-table {
    display: table; }

  .md-table-cell {
    display: table-cell; }

  .md-overflow-hidden {
    overflow: hidden; }

  .md-overflow-scroll {
    overflow: scroll; }

  .md-overflow-auto {
    overflow: auto; }

  .md-left {
    float: left; }

  .md-right {
    float: right; } }
@media (--breakpoint-lg) {
  .lg-inline {
    display: inline; }

  .lg-block {
    display: block; }

  .lg-inline-block {
    display: inline-block; }

  .lg-table {
    display: table; }

  .lg-table-cell {
    display: table-cell; }

  .lg-overflow-hidden {
    overflow: hidden; }

  .lg-overflow-scroll {
    overflow: scroll; }

  .lg-overflow-auto {
    overflow: auto; }

  .lg-left {
    float: left; }

  .lg-right {
    float: right; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem; }

/* Basscss Responsive Position */
@media (--breakpoint-sm) {
  .sm-relative {
    position: relative; }

  .sm-absolute {
    position: absolute; }

  .sm-fixed {
    position: fixed; }

  .sm-top-0 {
    top: 0; }

  .sm-right-0 {
    right: 0; }

  .sm-bottom-0 {
    bottom: 0; }

  .sm-left-0 {
    left: 0; } }
@media (--breakpoint-md) {
  .md-relative {
    position: relative; }

  .md-absolute {
    position: absolute; }

  .md-fixed {
    position: fixed; }

  .md-top-0 {
    top: 0; }

  .md-right-0 {
    right: 0; }

  .md-bottom-0 {
    bottom: 0; }

  .md-left-0 {
    left: 0; } }
@media (--breakpoint-lg) {
  .lg-relative {
    position: relative; }

  .lg-absolute {
    position: absolute; }

  .lg-fixed {
    position: fixed; }

  .lg-top-0 {
    top: 0; }

  .lg-right-0 {
    right: 0; }

  .lg-bottom-0 {
    bottom: 0; }

  .lg-left-0 {
    left: 0; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
/* Basscss Responsive Typography */
@media (--breakpoint-sm) {
  .sm-left-align {
    text-align: left; }

  .sm-center {
    text-align: center; }

  .sm-right-align {
    text-align: right; }

  .sm-justify {
    text-align: justify; } }
@media (--breakpoint-md) {
  .md-left-align {
    text-align: left; }

  .md-center {
    text-align: center; }

  .md-right-align {
    text-align: right; }

  .md-justify {
    text-align: justify; } }
@media (--breakpoint-lg) {
  .lg-left-align {
    text-align: left; }

  .lg-center {
    text-align: center; }

  .lg-right-align {
    text-align: right; }

  .lg-justify {
    text-align: justify; } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
/* Basscss Responsive Type Scale */
@media (--breakpoint-sm) {
  .sm-h00 {
    font-size: var(--h00); }

  .sm-h0 {
    font-size: var(--h0); }

  .sm-h1 {
    font-size: var(--h1); }

  .sm-h2 {
    font-size: var(--h2); }

  .sm-h3 {
    font-size: var(--h3); }

  .sm-h4 {
    font-size: var(--h4); }

  .sm-h5 {
    font-size: var(--h5); }

  .sm-h6 {
    font-size: var(--h6); } }
@media (--breakpoint-md) {
  .md-h00 {
    font-size: var(--h00); }

  .md-h0 {
    font-size: var(--h0); }

  .md-h1 {
    font-size: var(--h1); }

  .md-h2 {
    font-size: var(--h2); }

  .md-h3 {
    font-size: var(--h3); }

  .md-h4 {
    font-size: var(--h4); }

  .md-h5 {
    font-size: var(--h5); }

  .md-h6 {
    font-size: var(--h6); } }
@media (--breakpoint-lg) {
  .lg-h00 {
    font-size: var(--h00); }

  .lg-h0 {
    font-size: var(--h0); }

  .lg-h1 {
    font-size: var(--h1); }

  .lg-h2 {
    font-size: var(--h2); }

  .lg-h3 {
    font-size: var(--h3); }

  .lg-h4 {
    font-size: var(--h4); }

  .lg-h5 {
    font-size: var(--h5); }

  .lg-h6 {
    font-size: var(--h6); } }
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
:root {
  --h00: 4rem;
  --h0: 3rem;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem; }

/* Basscss Colors */
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
:root {
  --aqua: #7FDBFF;
  --blue: #0074D9;
  --navy: #001F3F;
  --teal: #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;
  --white: #FFFFFF;
  --silver: #DDDDDD;
  --gray: #AAAAAA;
  --black: #111111; }

.black {
  color: var(--black); }

.gray {
  color: var(--gray); }

.silver {
  color: var(--silver); }

.white {
  color: var(--white); }

.aqua {
  color: var(--aqua); }

.blue {
  color: var(--blue); }

.navy {
  color: var(--navy); }

.teal {
  color: var(--teal); }

.green {
  color: var(--green); }

.olive {
  color: var(--olive); }

.lime {
  color: var(--lime); }

.yellow {
  color: var(--yellow); }

.orange {
  color: var(--orange); }

.red {
  color: var(--red); }

.fuchsia {
  color: var(--fuchsia); }

.purple {
  color: var(--purple); }

.maroon {
  color: var(--maroon); }

.color-inherit {
  color: inherit; }

.muted {
  opacity: 0.5; }

/* Basscss Background Colors */
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
:root {
  --aqua: #7FDBFF;
  --blue: #0074D9;
  --navy: #001F3F;
  --teal: #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;
  --white: #FFFFFF;
  --silver: #DDDDDD;
  --gray: #AAAAAA;
  --black: #111111; }

.bg-black {
  background-color: var(--black); }

.bg-gray {
  background-color: var(--gray); }

.bg-silver {
  background-color: var(--silver); }

.bg-white {
  background-color: var(--white); }

.bg-aqua {
  background-color: var(--aqua); }

.bg-blue {
  background-color: var(--blue); }

.bg-navy {
  background-color: var(--navy); }

.bg-teal {
  background-color: var(--teal); }

.bg-green {
  background-color: var(--green); }

.bg-olive {
  background-color: var(--olive); }

.bg-lime {
  background-color: var(--lime); }

.bg-yellow {
  background-color: var(--yellow); }

.bg-orange {
  background-color: var(--orange); }

.bg-red {
  background-color: var(--red); }

.bg-fuchsia {
  background-color: var(--fuchsia); }

.bg-purple {
  background-color: var(--purple); }

.bg-maroon {
  background-color: var(--maroon); }

/* Basscss Border Colors */
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
:root {
  --aqua: #7FDBFF;
  --blue: #0074D9;
  --navy: #001F3F;
  --teal: #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;
  --white: #FFFFFF;
  --silver: #DDDDDD;
  --gray: #AAAAAA;
  --black: #111111; }

.border-black {
  border-color: var(--black); }

.border-gray {
  border-color: var(--gray); }

.border-silver {
  border-color: var(--silver); }

.border-white {
  border-color: var(--white); }

.border-aqua {
  border-color: var(--aqua); }

.border-blue {
  border-color: var(--blue); }

.border-navy {
  border-color: var(--navy); }

.border-teal {
  border-color: var(--teal); }

.border-green {
  border-color: var(--green); }

.border-olive {
  border-color: var(--olive); }

.border-lime {
  border-color: var(--lime); }

.border-yellow {
  border-color: var(--yellow); }

.border-orange {
  border-color: var(--orange); }

.border-red {
  border-color: var(--red); }

.border-fuchsia {
  border-color: var(--fuchsia); }

.border-purple {
  border-color: var(--purple); }

.border-maroon {
  border-color: var(--maroon); }

/* Basscss Darken */
.bg-darken-1 {
  background-color: var(--darken-1); }

.bg-darken-2 {
  background-color: var(--darken-2); }

.bg-darken-3 {
  background-color: var(--darken-3); }

.bg-darken-4 {
  background-color: var(--darken-4); }

:root {
  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5); }

/* Basscss Lighten */
.bg-lighten-1 {
  background-color: var(--lighten-1); }

.bg-lighten-2 {
  background-color: var(--lighten-2); }

.bg-lighten-3 {
  background-color: var(--lighten-3); }

.bg-lighten-4 {
  background-color: var(--lighten-4); }

:root {
  --lighten-1: rgba(255, 255, 255, .0625);
  --lighten-2: rgba(255, 255, 255, .125);
  --lighten-3: rgba(255, 255, 255, .25);
  --lighten-4: rgba(255, 255, 255, .5); }

/* Basscss Background Images */
.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

.bg-center {
  background-position: center; }

.bg-top {
  background-position: top; }

.bg-right {
  background-position: right; }

.bg-bottom {
  background-position: bottom; }

.bg-left {
  background-position: left; }

.bg-no-repeat {
  background-repeat: no-repeat; }

.bg-repeat-x {
  background-repeat: repeat-x; }

.bg-repeat-y {
  background-repeat: repeat-y; }

/* Basscss All */
.all-initial {
  all: initial; }

.all-unset {
  all: unset; }

.all-inherit {
  all: inherit; }

.all-revert {
  all: revert; }
