<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-one-third">
        <ul class="usa-unstyled-list">
          {% if site.github_username %}
          <li class="usa-width-one-fourth usa-footer-primary-content">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="usa-width-one-fourth usa-footer-primary-content">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li class="usa-width-one-fourth usa-footer-primary-content">
            👋🏻
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
