.blog-list {
  .blog.card {
    .card-title {
      padding: 10px 20px;
      background-color: $primary-darker;

      a, a:visited, a:link {
        color: $primary-text;
      }
    }

    p {
      padding: 0 20px;
    }
  }

  .pagination {
    .btn {
      background-color: lighten($primary-darker, 50%);
    }

    .previous {
      float: left;
    }
    .next {
      float: right;
    }

    .page-number {
      margin: 0 150px;
      text-align: center;
    }
  }
}
