$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$primary-text: #ffffff;

$primary-alt-lightest: #e1f3f8;

$gold-lighter: #fad980;

$color-white: #ffffff;
$color-primary-darkest: #112e51;
$color-primary-alt-light: #9bdaf1;
$color-cool-blue-light: #4773aa;
