h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

header {
  background: $color-primary-darkest;
  color: $color-white;
  height: 120px;

  .usa-navbar {
    em {
      line-height: 120px;
    }
  }

  img {
    float: right;
    margin-top: 10px;
    max-height: 100px;
    border-radius: 50px;
  }
}

.page-content {
  padding: 10px;

  .flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    .aside {
      background-color: #0071bc;
      min-width: 250px;
      max-width: 250px;
      color: white;
      padding: 0.5em;
      font-weight: 100;

      h2 {
        font-weight: bold;
      }
    }
  }
}
